body {
	margin: 0vw;
}

.divDesign {
	margin: 0vw;
	padding: 0vw;
	max-width: 100vw;
	background-color: #ffd6d7;
	color: #4a4949;
	font-size: 1.7vw;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: center;
}

.imageStyle1 {
	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
    background-attachment: fixed;
}

.imageStyle2 {
	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
}

.text {
	background-color: #ffd6d7;
	padding: 2vw;
}

.headline1 {
	font-size: 7vw;
	padding: 14vw;
}

.headline3 {
	color: #bd1900;
}

a {
	text-decoration: none;
	color: #bd1900;
}

a:hover {
	color: #0058bd;
}

#container {
	width: 100vw;
	display: grid;
	grid-template-columns: 100vw;
    grid-template-rows: 85vh auto auto 30vw auto auto auto auto auto auto;
    grid-gap: 0vw;    
    grid-template-areas:
      "header"
      "nav"
      "main"
      "gap"
      "adaDayImg"
      "adaDayText"
      "adaBookImg"
      "adaBookText"
      "social"
      "footer";
}

#coverImg {
	grid-area: header;
	background-image: url('../Images/ada_lovelace.png');
}

#nav {
	grid-area: nav;
	display: grid;
	grid-template-columns: 20vw 80vw;
	grid-template-rows: auto;
	grid-gap: 0vw;    
    grid-template-areas:
      "signature buttons";
    background-color: #bd1900;
    color: #ffd6d7;
    position: sticky;
    top: 0;
    z-index: 999;
}

#headline {
	grid-area: signature;
	font-family: 'Great Vibes', cursive;
	text-align: left;
	font-size: 2.5vw;
	padding: 0.25vw;
	margin-left: 5vw;	
}

#navBtn {
	grid-area: buttons;
	background-color: #bd1900;
	text-align: right;
	margin-right: 5vw;
}

.navButton {
	background-color: #bd1900;
	color: #ffd6d7;
	margin: 1vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	font-size: 2vw;
	font-weight: bold;
	border: none;
}

.navButton:hover {
	color: #e69394;
}

#sel {
	display: none;
}

#main {
	grid-area: main;
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: auto 55vw 70vw 45vw 70vw;
	grid-row-gap: 0vw;
	grid-template-areas: 
		"titleDiv titleDiv"
		"img-div img-div"
		"contentTextOne contentImageOne"
		"contentImageTwo contentTextTwo"
		"contentTextThree contentImageThree"
}

#titleDiv {
	grid-area: titleDiv;
}

#title {
	font-family: 'Great Vibes', cursive;
	color: #bd1900;
	font-size: 10vw;
	padding: 3vw;
}

#img-div {
	grid-area: img-div;
	background-color: #0058bd;
    padding: 5vw;
}

#image {
	display: block;
	max-width: 100%;
	height: 95%;
	margin-right: auto;
	margin-left: auto;
}

#image1 {
	grid-area: contentImageOne;
	background-image: url('../Images/ada1.jpg'); 
}

#text1 {
	grid-area: contentTextOne;
}

#image2 {
	grid-area: contentImageTwo;
	background-image: url('../Images/ada2.jpg');
}

#text2 {
	grid-area: contentTextTwo;
}

#image3 {
	grid-area: contentImageThree;
	background-image: url('../Images/ada3.jpg');
}

#text3 {
	grid-area: contentTextThree;
}

#gap {
	grid-area: gap;
	background-color: #e69394;
}

.layer {
	background-color: #0058bd;
	color: #ffd6d7;
	opacity: 0.6;
	padding: 1vw;
}

#adaDayImg {
	grid-area: adaDayImg;
	background-image: url('../Images/ada_lovelace_day.jpg');
}

#adaDayText {
	grid-area: adaDayText;
}

#adaBookImg {
	grid-area: adaBookImg;
	background-image: url('../Images/book1.jpg');
}

#adaBookText {
	grid-area: adaBookText;
}

#social {
	grid-area: social;
	background-color: #0058bd;
	text-align: right;
	padding: 2vw;
	padding-right: 5vw;
	font-size: 3vw;
}

.fa {
	color: #e69394;
	padding: 1vw;
}

.fa:hover {
	color: #ffd6d7;
}

#footer {
	grid-area: footer;
	padding: 5vw;
	padding-top: 13vw;
	background-color: #e69394;
	color: #0058bd;
}

@media only screen and (max-width: 600px) {
	.divDesign {
		font-size: 3.5vw;
	}

	.text {
		padding: 4vw;
	}

	#nav {
		grid-template-columns: 50vw 50vw;
	}

	#headline {
		font-size: 5vw;
	}

	.navButton {
		display: none;
	}

	#sel {
		display: inline-block;
		grid-area: buttons;
		background-color: #bd1900;
		color: #ffd6d7;
		text-align: right;
		font-size: 3vw;
		font-weight: bold;
		border: none;
		margin-right: 5vw;
	}

	#main {
		grid-template-columns: auto;
		grid-template-rows: auto 55vw 120vw auto 120vw auto 120vw auto;
		grid-row-gap: 0vw;
		grid-template-areas: 
			"titleDiv"
			"img-div"
			"contentImageOne"
			"contentTextOne"
			"contentImageTwo" 
			"contentTextTwo"
			"contentImageThree"
			"contentTextThree" 
	}

	.headline1 {
		padding: 20vw;
	}

	.opt {
		color: #ffd6d7;
		font-size: 3vw;
		font-weight: bold;
	}

	#image {
		height: 70%;
	}

	#social {
		font-size: 5vw;
	}
} 



