body, #container {
	padding: 0vw;
	margin: 0vw;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #F5F5F5;
	color: black;
	font-family: 'Rokkitt', serif;
	font-size: 1.7vw;
	text-align: center;
	width: 100vw;
	height: auto;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky; 
	top: 0;
	width: 100vw;
	background-color: #F5F5F5;
}

#logo {
	height: 7vw;
	padding-left: 4vw;
}

#navBar {
	padding-right: 4vw;
}

.navButton {
	background-color: #F5F5F5;
	font-weight: bold;
	color: black;
	font-family: 'Rokkitt', serif;
	font-size: 1.5vw;
	text-align: center;
	border: none;
	margin-left: 1vw;
}

.navButton:hover {
	color: #148F77;
}

#sel {
	display: none;
}

#main {
	width: 100vw;
}

.sec1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-size: 2.5vw;
	color: #F5F5F5;
	padding: 10vw;
}

.sec2 {
	padding: 2vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

#lights {
	background-image: url("../images/northern-lights-23.jpg");
}

#iceland {
	background-image: url("../images/northern-lights-2.jpg");
}

#norway {
	background-image: url("../images/northern-lights-21.jpg");
}

#sweden {
	background-image: url("../images/northern-lights-4.jpg");
}

#finland {
	background-image: url("../images/northern-lights-22.jpg");
}

#north {
	background-image: url("../images/northern-lights-3.jpg");
}

#contact {
	background-color: #ECECEC;
	font-size: 2vw;
	padding: 5vw;
}

.inputDesign {
	width: 25vw;
	font-family: 'Rokkitt', serif;
	padding: 0.5vw;
	font-size: 1.5vw;
	text-align: center;
}

#submitBtn {
	background-color: #3CB371;
	color: #F5F5F5;
	border: none;
	border-radius: 10vw;
	font-size: 2vw;
	font-weight: bold;
	padding: 1.2vw;
}

#submitBtn:hover {
	background-color: #90EE90;
}

#f1, #f2 {
	width: 100vw;
}

#f1 {
	padding-top: 1vw;
	padding-bottom: 1vw;
	background-color: #90EE90;
	font-size: 2vw;
}

.fa {
	padding: 1.5vw;
	text-decoration: none;
	background-color: #90EE90;
	color: black;
	font-weight: bold;
}

.fa:hover {
	color: #3CB371;
}

#f2 {
	background-color: #3CB371;
	font-size: 1.5vw;
	padding-top: 11vw;
	padding-bottom: 4vw;
}

#signature {
	color: #90EE90;
}

@media (max-width: 600px)
{
	#logo {
		height: 12vw;
	}

	.navButton {
		display: none;
	}

	#sel { 
		padding-right: 4vw;
		font-size: 3vw;
  		display: inline-block;
  		font-family: 'Rokkitt', serif;
  		background-color: #F5F5F5; 
  		color: black;
    	font-weight: bold;
    	border: none;
  	}

  	.opt {
  		background-color: #F5F5F5; 
  		font-family: 'Rokkitt', serif;
    	font-weight: bold;
    	color: black;
  	}

  	.sec1 {
  		font-size: 6vw;
  		padding: 30vw;
  	}

  	#lights {
  		padding: 15vw;
  	}

  	.sec2 {
		font-size: 4vw;
	}

	#contact {
		font-size: 4.5vw;
		padding: 15vw;
	}
	
	.inputDesign {
		width: 50vw;
		padding: 1vw;
		font-size: 3vw;
	}

	#submitBtn {
		font-size: 4.5vw;
		padding: 2.5vw;
	}

	#f1 {
		padding-top: 2vw;
		padding-bottom: 2vw;
		font-size: 5vw;
	}	

	#f2 {
		font-size: 3vw;
		padding-top: 11vw;
		padding-bottom: 4vw;
	}
}