body, #container {
	margin: 0vw;
	padding: 0vw;
	max-width: 100vw;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  background-color: white;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2vw;
}

#navbar {
	background-color: white;
	width: 40vw;
	height: 90vh;
	padding: 2vw;
	position: sticky;
	top: 0;
	z-index: 999;
	border: none;
	border-right-style: solid;
	border-right-width: 0.1vw;
	border-right-color: black;
}

#main-doc {
	width: auto;
	height: auto;
	padding: 2vw;
}

.header {
	font-size: 2vw;
	font-weight: bold;
}

.nav-link {
	display: block;
	padding: 1.5vw;
	text-decoration: none;
	font-size: 1.5vw;
	color: black;
}

.nav-link:hover {
	color: green;
}

.main-section {
	margin-top: 5vw;
	margin-bottom: 5vw;
}

code {
	color: blue;
}

@media (max-width: 600px) {
	#container {
		font-size: 2.8vw;
		flex-direction: column;
	}

	#navbar {
		width: auto;
		height: auto;
		padding: 5vw;
		border: none;
		border-bottom-style: solid;
		border-bottom-width: 0.3vw;
		border-bottom-color: black;
	}

	#main-doc {
		padding: 5vw;
	}

	.header {
		font-size: 4vw;
	}
	.nav-link {
		padding: 2vw;
		font-size: 3.2vw;
	}
}