body, #container {
	margin: 0vw;
	padding: 0vw;
}

#container {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 1.2vw;
	text-align: center;
}

#navbar, #main, #footer {
	width: 100%;
}

#navbar
{
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

#navLogo {
	padding-left: 5vw;
}

#navLinks {
	padding-right: 5vw;
}

.list {
	display: inline;
	margin-left: 5vw;
}

.link {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	color: pink;
}

#welcome-section {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	margin-bottom: 20vw;
}

#welcomeHeadline {
	background-color: transparent;
	color: white;
	text-align: center;
	padding-top: 30vh;
}

#welcomeParagraf {
	background-color: transparent;
	color: white;
	text-align: center;
}

.divHeadline {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
		opacity: 0.8;
	color: white;
	font-size: 3vw;
	padding: 5vw;
}

/*
.layer {
	position: relative;
	top: 0;
	left: 0;
	background-color: green;

}
*/

#aboutImg {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
}

#workImg {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
}

#contactImg {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
}




