body, #container {
	margin: 0vw;
	padding: 0vw;
}

#container {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 1.2vw;
	text-align: center;
}

#navbar, #main, #footer {
	width: 100%;
}

#navbar
{
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

#navLogo {
	padding-left: 5vw;
}

#navLinks {
	padding-right: 5vw;
}

.list {
	display: inline;
	margin-left: 5vw;
}

.link {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.link:hover {
	color: #d12ec9;
}

#welcome-section {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

#welcomeHeadline {
	background-color: transparent;
	color: white;
	text-align: center;
	padding-top: 30vh;
}

#welcomeParagraf {
	background-color: transparent;
	color: white;
	text-align: center;
}

.divHeadline {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	font-size: 3vw;
	padding: 5vw;
}

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10vw;
	margin-bottom: 10vw;
}

.project-tile {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 2.5vw;
	height: 30vw;
	width: 25vw;
}

.project-tile:hover {
	height: 35vw;
	width: 30vw;
}

.iframe {
	width: 80%;
	height: 80%;
	margin: 1.5vw;
}

.links {
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 2vw;
}

.links:hover {
	color: #d12ec9;
}

#aboutImg {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
}

#about {
	padding-top: 3vw;
	padding-bottom: 3vw;
	background-color: white;
	color: black;
}

.text {
	font-size: 1.8vw;
}

#contactImg {
	background-image: url("https://images.freeimages.com/images/large-previews/9e6/abstract-polygonal-low-poly-photos-texture-3-636190.jpg");
}

#footer {
	padding: 1vw;
	padding-left: 5vw;
	text-align: left;
}

#contact {
	background-color: white;
	font-size: 3vw;
	padding: 5vw;
}

.fa {
	color: black;
	text-decoration: none;
	padding: 2vw;
}

.fa:hover {
	color: #d12ec9;
}




